nav{
    justify-content: space-evenly;
    background-color: black;
    padding: 10px 0;
    display: flex;
}

nav a {
    color: rgb(78, 176, 237);
    text-decoration: none;
    font-weight: 500;
    padding: 10px 15px;
}

nav a:hover {
    color: orange;
    background-color: black;
    border-radius: 5px;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}





.product1:hover, .product2:hover, .product3:hover, .product4:hover, .product5:hover, .product6:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color: white;
}


@media (min-width: 451px) and (max-width: 999px) {
    .sidebar {
        display: grid;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1000px) {
    .sidebar {
        display: grid;
    }

    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


